<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OpenCvImageCorrection.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6CB3E8D21DA896A800B9D790</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6CB3E8EE1DA896A800B9D790</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6CB3E8F91DA896A800B9D790</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
